<!DOCTYPE html>
<html>
  <head>
    <title>Sample Page for Scraping</title>
    <script src="https://cdn.jsdelivr.net/gh/nahar122/affiliate-product-recommendation-tool@0.0.1/injection.js"></script>
  </head>
  <body>
    <h1>This is an Example Title</h1>
    <p>This paragraph is too short.</p>
    <p>Another short paragraph.</p>
    <p>
      This is my second attempt at changing this text to test out the new
      article process route. The script should identify this paragraph as the
      first significant paragraph of the content. It's designed to demonstrate
      how scraping tools can selectively extract information from a web page.
    </p>
    <p>
      Additional content or paragraphs can follow, but the script will only
      focus on the first long paragraph as per the specified logic.
    </p>
  </body>
</html>
